body {
    background-color: #191919 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

main {
    display: flex;
    align-items: center;
}

.centered-content {
    text-align: center;
}

img {
    width: 80vh;
    height: 70vh;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-left: 200px;
    max-width: 500px;
    box-shadow: 5px 5px 10px rgb(150, 150, 150);
}

.form-container2 {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-left: auto;
    max-width: 500px;
    box-shadow: 5px 5px 10px rgb(150, 150, 150);
}

.form-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-outline-dark {
    margin-top: 10px;
}

.logo {
    height: 90%;
    width: 90%;
    margin-bottom: 20px;
}

.btn-dark {
    box-shadow: 5px 5px 7px white;
}

.resetpass {
    color: black; 
    display: block; 
    margin-top: 10px;
}

@media screen and (max-width: 1024px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    img {
        width: 80%;
        height: 80%;
        align-self: center;
    }
    
    .form-container {
        margin-left: 0;
        margin-top: 40px;
        max-width: 250px;
        max-height: 400px;
    }
    
}

.valid {
    float: right;
}

.textos{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 40px;
}

.reform aside {
    margin-left: 0;
    margin-left: 0;
}

.corner-image {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 150px; 
    height: 55PX; 
    z-index: 999; 
}